@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oxygen', sans-serif;
}

body{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(90deg, rgb(0, 156, 130) 0%, rgb(0, 58, 112) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}